@media screen and (max-width: 1400px) {
  /* General styles */
  #profile {
    height: 100%;
    margin-bottom: 6rem;
  }
  .about-container {
    flex-wrap: wrap;
  }
  #contact, #projects {
    height: fit-content;
    margin-top: 10rem;
  }
 
}
@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #ham-nav {
        display: flex;
    }
   
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    
    section {
      margin: 0 5%;
      padding: 10vh 0;
    }
    .section-pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-container {
      margin-top: 0;
    }
    .section-pfpic-container {
      width: auto;
      height: 40vh;
      justify-content: center;
      margin-bottom: 1rem;

    }
    .text-container {
      text-align: center;
  }
  .article-cont{
    gap:1rem;
  }
  .exp-subtitle {
    font-size: 1.25rem;
  }
   
  .exp-dtl-cont {
    margin-top: 2rem;
   
  }
  .section-text {
    font-size: 1rem;
  }
}
  @media screen and (max-width: 480px) {
    #contact,
    footer {
      height: 50vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    
    article {
      font-size: 1rem;
    }
    footer {
      height: fit-content;
      margin-bottom: 2rem;
      font-size: 10px;
    }
    .about-container,
    .btn-container {
      flex-wrap: wrap;
      gap:1rem;
    }
    .contact-text{
      font-size: 12px;
    }
    .about-pic{
      flex-wrap: wrap;
    }
    .contact-container1 {
      margin: 0;
      padding: 5px;
      width: 95vw;
    }
    .contact-container2 p,
    .nav-links li a {
      font-size: 1rem;
    }
    
    .logo {
      font-size: 1.5rem;
    }
    .nav-list {
      flex-direction: column;
      gap: 0.4rem;
      text-align: center;
      font-size: 16px;
    }
    .title {
      font-size: 2rem;
    }
   
    h3, p{
      font-size: 15px;
    }
  .section-text-p1{
    font-size: 20px;
    margin: 5px;
  }
  .section-text-p2{
    margin-bottom: 1rem;
    margin-top:5px;
  }
  .logo {
    display: none;
  }
  #ham-nav {
    padding: 1rem 1rem;
    justify-content: right;
  }
  .toggle-button {
    right:auto;
    top: 1rem;
  }
  }