@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #ham-nav {
        display: flex;
    }
    #experience {
      height:100vh;
    }
    .exp-dtl-cont {
      margin-top: 2rem;
     
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section-pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-container {
      margin-top: 0;
    }
  
}

@media screen and (max-width: 1400px) {
    #profile {
      height: 100%;
      margin-bottom: 6rem;
    }
    .about-container {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
      margin-top: 10rem;
    }
  }
  @media screen and (max-width: 480px) {
    #contact,
    footer {
      height: 60vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    #experience{
        height: 100%;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-container,
    .contact-container1,
    .btn-container {
      flex-wrap: wrap;
     
    }
    .about-pic{
      flex-wrap: wrap;
    }
    .contact-container2 {
      margin: 0;
      padding: 5px;
    }
    .contact-container2 p,
    .nav-links li a {
      font-size: 1rem;
    }
    .exp-subtitle {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section-pic-container {
        
        height: 60vw;
        justify-content: center;
    }

    .section-pfpic-container {
      width: auto;
      height: 60vh;
      justify-content: center;
      margin-bottom: 1rem;

    }
    .section-container {
      justify-content: center;
    }

    .section-text-p2 {
      font-size: 1.5rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }