/*General*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
   
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #f2f2f2;
}

/* Dark theme styles */

body.dark-theme {

    background-color: #1a1a14;
    color: #f2f2f2;
p {
    color: #A094D8;
}
a, a:hover {color: #f2f2f2;
text-decoration-color: #A094D8;}
.btn {
    background-color: #1a1a14;
    color: #f2f2f2;
    border: #f2f2f2 0.1rem solid;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    
}
.btn:hover {
    background-color: #A094D8;
    color: #1a1a14;
    border: #A094D8 0.1rem solid;
}
.icon {
    filter: invert(1);
}
.section-pic-container {
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    border-radius: 50%;
}
.menu-list.open {
    background-color: #1a1a14;
}

}


/* Toggle button styles */

.toggle-button {
    position:absolute;
    top: 50px;
    background-color: #333;
    color: #f2f2f2;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 2rem;
    right: 20px;

}

.toggle-button:hover {
    background-color: #444;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION*/

a,
.btn {
    transition: all 300ms ease;
}

/* NAVIGATION*/
nav,
.nav-list {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 12vw;

}

.nav-list {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: #8B65AB;  
    text-underline-offset: 1rem;
    text-decoration-color: black;
}

.logo {
    font-size: 1.5rem;
}

.logo:hover {
    cursor: default;
}

/* Ham menu */
#ham-nav {
    display: none;
}

.ham-menu {
    position: relative;
    display: inline-block;
}

.ham-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.ham-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.menu-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.menu-list a {
    display: block;
    padding: 10PX;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.menu-list a:hover {
    color: #8B65AB;
}

.menu-list li {
    list-style: none;
}

.menu-list.open {
    max-height: 300px;
    background-color: #f2f2f2;
}

.ham-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.ham-icon.open span:nth-child(2) {
    opacity: 0;
}

.ham-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.ham-icon span:first-child {
    transform: none;
}

.ham-icon span:first-child {
    opacity: 1;
}

.ham-icon span:first-child {
    transform: none;
}

/* Sections */

section {
    padding: 17vh 0;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container,
#profile {
    display: flex;
}


/*Profile section*/

#profile {
    justify-content: center;
    gap: 7rem;
    height: 70vh;
    margin-bottom: 5rem;
}

.section-pic-container {

    display: flex;
    width: 25rem;
    height: 25rem;
    margin: auto 0;
}
.section-pfpic-container {

    display: flex;
    width: 25rem;
    height: 25rem;
    margin: auto 0;
}

.section-text {
    align-self: center;
    text-align: center;
    border: #8B65AB;

}

.section-text-p {
    font-weight: 700;

}

.section-text-p1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;

}

.section-text-p2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;

}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0.7rem 0;
}

@keyframes typewriter {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typewriter 2s steps(70, end);
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;

}

/*Social buttons*/

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    font-size: medium;
    transition: all 300ms ease;
    padding: 1rem;
    width: 9rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
    background-color: #f2f2f2;
}

.btn-color-1:hover,
.btn-color-2:hover {
    color: #e6e6e6;
    background-color: #8B65AB;
    cursor: pointer;
    border: #8B65AB 0.1rem solid;
}

/* About*/

#about {
    position: relative;
}

.about-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.about-dtl-cont {
    justify-content: center;
    flex-direction: column;
}

.about-container,
.about-dtl-cont {
    display: flex;
}

.about-pic {

    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.dtl-container {
    padding: 1.5rem;
    flex: 1;
    text-align: center;
    border-radius: 2rem;
    border: #8B65AB 0.1rem solid;

}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section-pic-container {
    margin: auto 0;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    border-radius: 50%;
}


/* EXP*/
#experience {
    position: relative;
}

.exp-subtitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.exp-dtl-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.article-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}


article {
    width: 10rem;
    justify-content: left;
    gap: 1rem;
    
}

article .icon {
    cursor: default;
}

/* Project section*/

#projects {
    position: relative;
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

/* Contact section */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.contact-container1 {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: #8B65AB 0.1rem solid;
    margin: 2rem;
    padding: 0.5rem;
    width: 70vh;
}

.contact-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;

}

.contact-container2 p {
    font-size:larger;
}

.contact-icon {
    cursor: default;
}
.contact-text:hover{
 text-decoration: none;
}